.feed {
    border-right: 1px solid rgb(231, 56, 56);
    flex: 0.3;
}

.tweetButton {
    background-color: rgb(231, 56, 56) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    border-radius: 30px;
    text-transform: inherit !important;
    display: block;
}